* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.h1{
  width: 500px;
  margin: auto;
  margin-bottom: 80px;
  color: #fc17e9;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  font-weight: bolder;
  color: blue;

}

body {
  background-color: aqua;
  padding: 50px;
}
#score-div {
  display: none;
}

#button {
  background-color: rgb(206, 211, 211);
  width: 200px;
  height: 60px;
  position: relative;
  left: 400px;
  color: green;
  font-size: 50px;
  border-radius: 20px;
  padding-top:5 px;
}