* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.quiz{
  text-align: center;
  margin-top: 50px;
}
.form{
  margin: 50px;
  padding: 50px;
  background-color: bisque;
  border-radius: 15px;

}
.date .Q{
  font-size: 16px;
  color: #E44020;
}

.h1{
  font-size: 20px; 
  margin: auto;
  margin-bottom: 50px;
  color: #E44020;
  text-align: center;
  position: relative;

}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}
h3{
  font-size: 16px;
}
.date p{
  
  color: black ;
  padding-top: 20px;
  line-height: 5px;
  position: relative;
  bottom: 10px;
}


#score-div {
  display: none;
  
}

#button {
  background-color: grey;
  width: 200px;
  height: 60px;
  position: relative;
  color: white;
  font-size: 50px;
  border-radius: 20px;
  padding-bottom: 10px;

}
#message{
  font-size: 20px;
}
