* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.h1{
  width: 500px;
  margin: auto;
  margin-bottom: 80px;
  color: #fc17e9;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  font-weight: bolder;
  color: blue;

}

body {
  background-color: aqua;
  padding: 50px;
}
#score-div {
  display: none;
}

#button {
  background-color: chartreuse;
  width: 150px;
  height: 40px;
  position: relative;
  left: 400px;
  color: white;
  font-size: 30px;
  border-radius: 20px;
  padding: px;
}